@font-face {
  font-family: DOS;
  src: url("Perfect DOS VGA 437.ttf")
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --blue-background: #0000a8;
  --dark-gray-foreground: #545454;
  --gray: #a8a8a8;
  --green-background: #00a800;
  --green-foreground: #54fc54;
  --white-foreground: #fcfcfc;
  --yellow-foreground: #fcfc54;
  font: inherit;
}

html {
  font: 4vh "DOS", monospace;
}

body {
  background: var(--gray);
}

section h1 {
  background: var(--blue-background);
  color: white;
  text-align: center;
}

section form {
  background: var(--blue-background);
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 1rem 1rem 0;
}

section h2 {
  color: var(--yellow-foreground);
  grid-column: 1 / 3;
  text-align: center;
}

section form p {
  display: contents;
}

section form p * {
  height: 1.2rem;
}

section label {
  color: var(--gray);
}

section .palette-input {
  color: var(--gray);
}

section button {
  background: var(--gray);
  color: var(--blue-background);
  grid-column: 1 / 3;
  justify-self: center;
  text-align: center;
  width: fit-content;
}

canvas {
  height: 100vh;
  width: 100vw;
}

.d-none {
  display: none;
}